<!-- Favicons 相關設定 -->

<link rel="icon" type="image/png" href="/https://digivineyard.com/favicon.ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/https://digivineyard.com/favicon.ico/favicon.svg" />
<link rel="shortcut icon" href="/https://digivineyard.com/favicon.ico/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/https://digivineyard.com/favicon.ico/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="DigiVineyard" />
<link rel="manifest" href="/https://digivineyard.com/favicon.ico/site.webmanifest" />


<!-- 如果你有產出 favicon.ico，這是為了相容舊瀏覽器 -->
<link rel="shortcut icon" href="/favicon.ico">